body {
  margin: 0;
  background: black;
  color: white;
  font-family: Arial;
}

.video-container {
  height: 100vh;
}

video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

button, a {
  position: fixed;
  top: 10px;
  background: red;
  color: white;
  padding: 10px;
  margin: 5px;
}